# macOS
.DS_Store

# Do not commit local XML,JSON sources/results
/table_extractor/extract_results/*.xml
/table_extractor/extract_results/manifest.json
/table_extractor/target_slides/*.xml
/table_parser/parsing_results/*.json
/table_parser/tables/*.md
*.xml
*.json
*.md
!/README.md
!/README.eg.md
.venv